.carousel-style {
    height: 355px;
}

.side-panel {
    margin-bottom: 20px;
}

.pembatas {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity))!important;
    padding: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 0.2em;
}

.card-imgs {
    height: 150px;
}

.card-imgs-tentang {
    height: 200px;
    margin-bottom: 1rem;
}

.card-imgs-guru {
    height: 200px;
}

.text-just {
    text-align: justify;
}